<app-header></app-header>
<div class="container">
    <div class="row">
        <div id="formulario" class="form-group">
            <h1>Nuevo contacto</h1>
            <p>

                Nombre <input type="text" id="nombre" class="form-control input-lg"><br>

                Apellidos<input type="text" id="apellidos" class="form-control input-lg"><br>

                Fecha de Nacimiento<br>
                <select id="dias">
                </select>

                <select id="meses">
                </select>

                <select id="años">
                </select>
                <br><br>

                Teléfono<input type="text" id="telefono" class="form-control input-lg"><br>

                <button class="btn btn-primary" id="enviar">Agregar</button>
            </p>
        </div>

    </div>
</div>
<app-footer></app-footer>