<app-header></app-header>

        <div class="content">
            <div class="person">
                <div class="container">
                    <div class="container-inner">
                        <img class="circle"/>
                            
                    </div>
                </div>
                <div class="divider"></div>
                <div class="name">Alma</div>
                <div class="title">Product Manager</div>
            </div>
            <div class="person">
                <div class="container">
                    <div class="container-inner">
                        <img class="circle"/>
                            
                        <img class="img img2"/>
                            
                    </div>
                </div>
                <div class="divider"></div>
                <div class="name">Irma</div>
                <div class="title">Senior Developer</div>
            </div>
            <div class="person">
                <div class="container">
                    <div class="container-inner">
                        <img class="circle"/>
                            
                    </div>
                </div>
                <div class="divider"></div>
                <div class="name">Anton</div>
                <div class="title">Senior UX</div>
            </div>
        </div>


<app-footer></app-footer>